.products-img-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 1px hsl(0deg 0% 0% / 5%);
  border-radius: 5px;
  margin-bottom: 8px !important;
}

.product-img {
  min-height: 180px;
  object-fit: cover;
  max-width: 100%;
  max-height: 180px;
  width: 100%;
  margin-bottom: 0 !important;
}

.product-img {
  max-height: 170px;
  min-height: 170px;
}

.pally-content h5 {
  font-size: 14px !important;
}
.red-bg {
  font-size: 11px !important;
  padding: 2px 6px !important;
}

.mobile-product {
  margin-bottom: 23px;
  align-items: flex-start;
}

.pally-inner {
  color: #333333; /*
    min-height: 355px;*/
  margin-bottom: 40px;
}

.pally-inner img {
  border-radius: 5px;
}
.pally-inner h6 {
  font-weight: 400;
  font-size: 12px;
}
.heart-icon {
  position: relative;
  float: left;
}

.products-img-wrapper .heart-icon .red-clr {
  color: #ff4747;
}

.saveproducts-wrapper .heart-icon .red-clr {
  color: #ff4747;
}

.saved-products.mobile-list-header {
  height: px;
}

.saved-products ul#foodTab {
  border: none;
}

.heart-icon span.material-icons {
  position: absolute;
  color: #ffffff;
  background: rgb(0 0 0 / 40%);
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.heart-icon .red-clr {
  color: red !important;
}

.pally-inner img {
  border-radius: 5px;
}

.red-bg {
  background: #fdf2f2;
  color: #ff0000;
}
.preordermodal-text label,
.preordermodal-text p {
  color: #828282;
  margin: 0 0 2px 0;
}

.booknow-modal-bottom .modal-w p,
#preorderModal .modal-w p {
  color: #333333;
  font-size: 14px;
}

.preordermodal-text h4 {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 30px;
}

.closed-opacity button {
  opacity: 0.5;
}

.text-red {
  color: #d70000;
  font-size: 14px;
}

.food-items-bg .nav-tabs {
  border-bottom: none;
}

red-bg:hover {
  color: #ff0000;
}

.simhead {
  font-size: 14px;
}

.pallylist-bg img.list-img {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  object-fit: cover;
}

.pally-left {
  margin: 0 -18px 0 0;
}

.pallylist-bg li small {
  margin: 0 0 0 20px;
  font-size: 12px;
  color: #4f4f4f;
}

.pally-inner {
  color: #333333; /*
    min-height: 355px;*/
  margin-bottom: 40px;
}

.inner-head {
  font-weight: 400;
  color: #262626;
  font-size: 18px;
}

a.red-bg:hover {
  text-decoration: none;
  color: #ff0000;
}

.pally-inner h6 {
  font-weight: 400;
  font-size: 12px;
}

.inner-head h5 {
  font-weight: 500;
  color: #333;
  font-size: 16px;
  margin-bottom: 3px !important;
}

.products-img-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 1px hsl(0deg 0% 0% / 5%);
  border-radius: 5px;
  margin-bottom: 8px !important;
}

.product-img {
  min-height: 180px;
  object-fit: cover;
  max-width: 100%;
  max-height: 180px;
  width: 100%;
  margin-bottom: 0 !important;
}
/* ------ BUTTON-HOVER-EFFECTS-CSS-START ------ */

.load-bg.text-center {
  border: 1px solid #b3561b;
  width: 350px;
  margin: 20px auto;
  border-radius: 5px;
  line-height: 40px;
}

.load-more {
  color: #b3561b;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

button {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.brown-btn {
  display: block;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #b3561b;
  color: #b3561b;
  font-weight: 700;
  padding: 0px 12px;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.red-bg {
  align-items: center;
}

pally-content .inner-head h5 {
  font-size: 16px;
}
.green-bg,
.red-bg {
  font-size: 11px !important;
  padding: 2px 6px !important;
}

.green-bg {
  background-color: #eaf6ef;
  color: #0da54e;
}
.green-bg,
.red-bg {
  font-size: 12px;
  padding: 4px 4px 4px 1px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}
a {
  color: #262626;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

#mobile-food-item .mobile-product .simhead,
#mobile-recommended .mobile-product .simhead {
  font-size: 14px;
}
.mobile-product .simhead {
  margin-top: 5px !important;
  margin-bottom: 3px !important;
}

.full:before {
  font-family: fontAwesome;
  display: inline-block;
  content: "";
  position: relative;
  float: right;
  z-index: 2;
}
.filter {
  display: flex;
  justify-content: flex-end;
}

.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.preorder-progress > .stat-bar-rating {
  background: #219653;
}

.stat-2 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(
    bottom,
    #b8f123 0%,
    #b8f123 47%,
    #79a602 50%,
    #79a602 100%
  );
  background-image: linear-gradient(
    to bottom,
    #b8f123 0%,
    #b8f123 47%,
    #79a602 50%,
    #79a602 100%
  );
}

.stat-3 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(
    bottom,
    #00c5ff 0%,
    #00c5ff 47%,
    #0383a9 50%,
    #0383a9 100%
  );
  background-image: linear-gradient(
    to bottom,
    #00c5ff 0%,
    #00c5ff 47%,
    #0383a9 50%,
    #0383a9 100%
  );
}

.stat-bar-rating {
  visibility: hidden;
  width: 0;
  -webkit-animation: animate-width;
  -moz-animation: animate-width;
  animation: animate-width;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.stat-bar:nth-of-type(1) .stat-bar-rating {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}

.stat-bar:nth-of-type(2) .stat-bar-rating {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.stat-bar:nth-of-type(3) .stat-bar-rating {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

/* ------ PROGRESS-BAR-CSS-END ------ */

.preordermodal-text label,
.preordermodal-text p {
  color: #828282;
  margin: 0 0 2px 0;
}

.booknow-modal-bottom .modal-w p,
#preorderModal .modal-w p {
  color: #333333;
  font-size: 14px;
}

.preordermodal-text h4 {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 30px;
}

.closed-opacity button {
  opacity: 0.5;
}

.text-red {
  color: #d70000;
  font-size: 14px;
}

.food-items-bg .nav-tabs {
  border-bottom: none;
}

.foodtabs a {
  border: none !important;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  padding-top: 0;
}

.heart-icon {
  position: relative;
  float: left;
}

.products-img-wrapper .heart-icon .red-clr {
  color: #ff4747;
}

.saveproducts-wrapper .heart-icon .red-clr {
  color: #ff4747;
}

.saved-products.mobile-list-header {
  height: px;
}

.saved-products ul#foodTab {
  border: none;
}

.heart-icon span.material-icons {
  position: absolute;
  color: #ffffff;
  background: rgb(0 0 0 / 40%);
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.heart-icon .red-clr {
  color: red !important;
}

.pally-inner img {
  border-radius: 5px;
}

.red-bg {
  background: #fdf2f2;
  color: #ff0000;
}

.green-bg,
.red-bg {
  font-size: 12px;
  padding: 4px 4px 4px 1px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.webfoodTab-view small {
  font-size: 12px;
}

.green-bg {
  background-color: #eaf6ef;
  color: #0da54e;
}

.green-bg:hover {
  color: #0da54e;
}

.red-bg:hover {
  color: #ff0000;
}

.simhead {
  font-size: 14px;
}

.pallylist-bg img.list-img {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  object-fit: cover;
}

.pally-left {
  margin: 0 -18px 0 0;
}

.pallylist-bg li small {
  margin: 0 0 0 20px;
  font-size: 12px;
  color: #4f4f4f;
}

.pally-inner {
  color: #333333; /*
    min-height: 355px;*/
  margin-bottom: 40px;
}

.inner-head {
  font-weight: 400;
  color: #262626;
  font-size: 18px;
}

a.red-bg:hover {
  text-decoration: none;
  color: #ff0000;
}

.pally-inner h6 {
  font-weight: 400;
  font-size: 12px;
}

.inner-head h5 {
  font-weight: 500;
  color: #333;
  font-size: 16px;
  margin-bottom: 3px !important;
}

.products-img-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 1px hsl(0deg 0% 0% / 5%);
  border-radius: 5px;
  margin-bottom: 8px !important;
}

.product-img {
  min-height: 180px;
  object-fit: cover;
  max-width: 100%;
  max-height: 180px;
  width: 100%;
  margin-bottom: 0 !important;
}
/* ------ BUTTON-HOVER-EFFECTS-CSS-START ------ */

.load-bg.text-center {
  border: 1px solid #b3561b;
  width: 350px;
  margin: 20px auto;
  border-radius: 5px;
  line-height: 40px;
}

.load-more {
  color: #b3561b;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.rating-view {
  position: relative;
  z-index: auto;
  margin-top: 10px;
}

.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.preorder-progress > .stat-bar-rating {
  background: #219653;
}

.stat-2 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(
    bottom,
    #b8f123 0%,
    #b8f123 47%,
    #79a602 50%,
    #79a602 100%
  );
  background-image: linear-gradient(
    to bottom,
    #b8f123 0%,
    #b8f123 47%,
    #79a602 50%,
    #79a602 100%
  );
}

.stat-3 > .stat-bar-rating {
  background-image: -webkit-linear-gradient(
    bottom,
    #00c5ff 0%,
    #00c5ff 47%,
    #0383a9 50%,
    #0383a9 100%
  );
  background-image: linear-gradient(
    to bottom,
    #00c5ff 0%,
    #00c5ff 47%,
    #0383a9 50%,
    #0383a9 100%
  );
}

.stat-bar-rating {
  visibility: hidden;
  width: 0;
  -webkit-animation: animate-width;
  -moz-animation: animate-width;
  animation: animate-width;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.stat-bar:nth-of-type(1) .stat-bar-rating {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}

.stat-bar:nth-of-type(2) .stat-bar-rating {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.stat-bar:nth-of-type(3) .stat-bar-rating {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
