.home_slider .carousel-item {
  height: 344px;
  border-radius: 5px;
  overflow: hidden;
}
.home_slider .carousel-item img {
  height: 100%;
}

.carousel-indicators li {
  background-color: #c4c4c4;
  opacity: 1;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #b3561b;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
